body {
    background-image: url("https://cdn.discordapp.com/attachments/398191004743630850/807376729173131274/Coolios.png");
    background-color: #174f8f;
     color: rgb(255, 255, 255);
     font-family: TAPEMAN;
     position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%;
     min-height: 100%;
   }